In [ ]:
import pandas as pd
import requests

In [2]:
scores=[40,45,50,55,60,65,70,75,80,85,90,95,100]

In [4]:
#change to a dataframe
df=pd.DataFrame(scores,columns=['scores'])
df

    scores
0       40
1       45
2       50
3       55
4       60
5       65
6       70
7       75
8       80
9       85
10      90
11      95
12     100

In [7]:
#will get data from an api for now
url="https://api.binance.com/api/v3/ticker/price"
response=requests.get(url) 
response